
        <li>
            <ul class="list_row">
                <li>
                    <h3>Task</h3>
                </li>

                <li>
                    <h3>Created</h3>
                </li>

                <li>
                    <h3>Complete</h3>
                </li>
                <li>
                    <h3>Delete</h3>
                </li>
            </ul>
        </li>
        <% if (incompleteTasks.length> 0 ) { %>
            <% incompleteTasks.forEach(task=> { %>
                <% if(!task.complete) { %>
                    <li id="<%= task.id %>outer" >
                        <ul class="list_row" id="row<%= task.id %>">
                            <li>
                                <%= task.taskBody %>
                            </li>
                            <li>
                                <%= task.creationDate %>
                            </li>
                            <li>
                                <form action="completeTask" name="complete_task" id="complete_task"
                                    method="POST">
                                    <input type="hidden" name="taskId" value="<%= task.id %>">
                                    <button type="submit" name="complete_check">Completed</button>
                                </form>
                            </li>
                            <li>
                                <button name="delete_task_incomplete" id="<%=task.id%>">Delete</button>
                                <script>document.getElementById("<%=task.id%>").addEventListener('click', deleteTask("<%=task.id%>"));</script>
                            </li>
                            <li class="hide">
                                <input type="hidden" name="taskId" id="taskId" value="<%= task.id %>">
                            </li>
                        </ul>
                    </li>
                    <% } %>
                        <% }) %>
                            <% } %>
